/*  输入提示 */
.remind_popus {
	position: fixed;
	top: 80%;
	z-index: 9999;
	font-size: 14px;
	color: white;
	text-align: center;
	width: 100%;
}
.remind_popus .remind_popus_text{
	background: rgba(0, 0, 0, 0.8);
	display: block;
	margin: auto;
	height: 32px;
	line-height: 32px;
	padding: 0 25px;
	border-radius: 4px;
	width: 40%;
	max-width: 476px;
	min-width: 200px;
}
/*   提示弹窗  */
#rp{
	position: fixed;
	top: 20%;
	z-index: 9999;
	font-size: 14px;
	color: white;
	text-align: center;
	width: 25%;
	left: 38%;
	background: white;
	border-radius: 4px;
	padding-top: 10px;
}
#rp .divTitle{
	width: 100%;
	font-size: 16px;
	height: 32px;
	line-height: 32px;
	color: #000000;
	border-bottom: 1px solid #E6E6E6;
}
#rp .divCon{
	padding: 20px 20px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	border-bottom: 1px solid #E6E6E6;
}
#rp .divBtn{
	color: white;
	width: 100px;
	height: 28px;
	line-height: 28px;
	background: #0088CC;
	margin: 10px auto 15px auto;
	border-radius: 4px;
	cursor: pointer;
}
#rp .divBtn:hover{
	background: #036da2;
}
@media (min-width: 768px) and (max-width: 980px){
	#rp{
		width: 40%;
		left: 30%;
	}
}
@media (max-width: 768px){
	#rp{
		width: 70%;
		left: 15%;
	}
}
@media (max-width: 375px){
	#rp{
		width: 90%;
		left: 5%;
	}
}