*{
	list-style: none;
}
.in_con{
	background: #252525;
	width: 97%;
	margin: auto;
	margin-top: 20px;
	border-radius: 8px;
	color: white;
	padding: 20px 0;
}
.in_con .in_table{
	width: 90%;
	margin: auto;
}
.in_con .in_table .in_li{
	display: flex;
	height: 42px;
	line-height: 42px;
	border-bottom: 1px solid #ffffff;
}
.in_con .in_table .in_li:first-child{
	border-top: 1px solid #FFFFFF;
}
.in_con .in_table .in_li .in_l_i{
	width: 34%;
	text-align: center;
	border-left: 1px solid #FFFFFF;
}
.in_con .in_table .in_li .in_l_i:last-child{
	border-right: 1px solid #FFFFFF;
}

/*  动态收益  */
.con{
	width: 97%;
	margin: auto;
}
.con_tips{
	width: 100%;
	background: #3e3e3e;
	padding: 20px 0;
	color: white;
	font-size: 14px;
	text-indent: 3%;
	margin-top: 20px;
	border-radius: 8px;
	line-height: 28px;
}
.con_tips .con_t_2{
	padding-left: 45px;
}
@media (max-width:767px) {
	.con_tips{
		width: 94%;
		margin: auto;
		margin-top: 20px;
	}
}


.con .con_u .con_l .item{
	background: #3E3E3E;
	margin-top: 20px;
	border-radius: 8px;
	padding: 20px 20px;
	color: white;
	position: relative;
	min-height: 230px;
	padding-bottom: 50px;
}
.con .con_u .con_l .item:hover{
	/* transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	-ms-transform: scale(1.02); */
}
.con .con_u .con_l .item .item_t img{
	width: 24px;
}
.con .con_u .con_l .item .item_t .item_t_v{
	font-size: 18px;
	margin-left: 5px;
	vertical-align: middle;
}
.con .con_u .con_l .item .item_b_1{
	float: right;
	margin-top: -20px;
	color: #c7585c;
	font-size: 16px;
}
.con .con_u .con_l .item .item_b_1 img{
	width: 16px;
	margin-top: -2px;
}
.con .con_u .con_l .item .item_b_1 .lock{
	display: none;
}
.con .con_u .con_l .item .item_b_1.active{
	color: #04ada1;
}
.con .con_u .con_l .item .item_b_1.active .lock{
	display: inline-block;
}
.con .con_u .con_l .item .item_b_1.active .unlock{
	display: none;
}

.con .con_u .con_l .item .item_remind{
	font-size: 13px;
	margin-top: 20px;
	line-height: 28px;
}
.con .con_u .con_l .item .item_info_btn{
	display: inline-block;
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #2583c2;
	color: white;
	font-size: 13px;
	border-radius: 5px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
}