.con{
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

.con_t{
	margin-top: 10px;
}
.con_t .con_t{
	font-weight: 600;
}
.con .con_t>.btn-primary{
	float: right;
}
.con_t .con_edit .btn-primary{
	margin-left: 20px;
	margin-top: 2px;
}

.con .con_ul{
	padding-bottom: 20px;
	text-align: left;
}
.con .con_li{
	list-style: none;
	margin-top: 15px;
	display: inline-block;
	width: 35%;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 5px;
	text-indent: 10px;
}

.con .con_li .con_li_t{
	color: #000000;
}
.con .con_li .con_li_val{
	color: #000000;
	font-weight: 600;
}
.con .con_li .con_li_val .item{
	text-indent: 15px;
}

.panel-body{
	margin-top: 20px;
}
@media (max-width:479px) {
	.con .con_li{
		width: 90%;
	}
}

/*   修改密码  */
.change_p_btn{
	text-align: center;
}